body {
    font-size: 0.8em;
}

#execute-actions-lbl {
    float: right;
}

#icon-preview {
    width: 40px;
    top: 15px;
    position: relative;
}

#dir-content {
    border: gray;
    border-style: dotted;
    margin-bottom: 1em;
    padding: 1em;
}

#dir-content ul, li {
    margin-top: .5em;
}

#item-container {
    border: gray;
    border-style: dotted;
    margin-bottom: 1em;
    padding: 1em;
}

#main-container {
    display: grid; 
    grid-template-columns: 2fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "layout-container item-container state-properties"
        "layout-container action-properties action-properties"; 
}

#item-container ul, li {
    margin-top: .5em;
}

#layout-container {
    grid-area: layout-container;
}
#item-container {
    grid-area: item-container;
}
#state-properties {
    grid-area: state-properties;
}
#action-properties {
    grid-area: action-properties;
}

.edit-property-container {
    border: gray;
    border-style: dotted;
    margin-bottom: 1em;
    padding: 1em;
}

.edit-property-container div {
    margin-bottom: 1em;
}

.edit-property-container label {
    width: 25%;
    display: inline-block;
}

.selected {
    background-color: gainsboro;
}

.hidden {
    display: none;
}

.prop-value,
.prop-possible-values {
    width: 100%;
}

.drag-over {
    background-color: ghostwhite !important;
}

#dir-content {
    display: grid;
}

.layout-grid-item {
    background-color: orange;
    border: 1px solid;
    height: 100px;
}

.layout-grid-item.dir {
    background-color: yellow;
}

.layout-grid-item.states {
    background-color: skyblue;
}

#item-kind-changedir-properties {
    background-color: bisque;
}

#item-kind-states-properties {
    background-color: lavender;
}

#state-properties {
    background-color: gold;
}

#action-properties {
    background-color: lightblue;
}